---
permalink: /index.html
---
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/landing-pages/">
    <script>window.location.href = "/landing-pages/"</script>
  </head>
  <body>
    Redirecting to <a href="/landing-pages/">Landing Page</a>...
  </body>
</html>